.Rproj.user
.Rhistory
.RData
_bookdown_files
.DS_Store
*.rds
.Rapp.history
WriteROptions
RTerminal
BrailleROptions
Temp.R
*.bat
*.Rout
*.url
*.lnk
*.bak

figures/*.*
tables/*.*
SVGs/*.*
LURN/*.*
LURNBlind/*.*
Other/*.*
Resources/*.*
Working/*.*
RunLater.R

BrailleRPublications.bib
Rpkgs.bib
.*.txt
*.png
